@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$peach: #E7816B;
$lightPeach: #FFAD9B;
$black: #1D1C1E;
$darkGrey : #333136;
$white: white;
$lightGrey: #F1F3F5;
$lightestPeach: #FDF3F0;


$desktopWidth: 1110px;


//font-family: 'Jost', sans-serif;

//RESET
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  //max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



ul{
    display: inline;
    margin: 0;
    padding: 0;
    li{
        display: inline;
        a{
            text-decoration: none;
        }
    }
}
body{
    font-family: 'Jost', sans-serif;
    height: 100%;
    main{
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        width: 80vw;
    }
    nav {
        margin: 50px auto;
    }
    article{
        margin: 0 0 155px 0;
        border-radius: 10px;
    }

}
nav{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 80vw;
    a.logoSection, a.logoSection:hover{
        text-decoration: none;
    }
    .logoSection:hover{
        cursor: pointer;
    }
    div{
        display: inline-block;
    }

    li{
        margin: 21px;
    }
    a{
        color: $black;
    }
    a:hover{
        text-decoration: underline;
    }

}
    .logoDesign{
        background: conic-gradient(from 90deg at 50% 50%, rgba(231, 129, 107, 0.0001) 0deg, #E7816B 359.74deg, rgba(231, 129, 107, 0.0001) 360deg);
        width: 24px;
        height: 24px;
        border-radius: 24px;
        margin-right: 18px;
    }
.award-header{
    background-color: $peach;
    display: flex;
    //justify-content: space-evenly;
    //height: 800px;
    //min-width: 1318px;
    height: 640px;
    color: white;
    font-family: 'Jost';
    //width: $desktopWidth;
    margin: 0px auto 160px auto;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    justify-content: flex-start;
    h2{
        font-weight: 500;
        font-size: 3em;
        font-family: 'Jost';
        //line-height: 3em;
    }
    p{
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 25px;
    }
    div{
        width: 50%;
    }
    .award-header-content{
        margin: 150px 0px 140px 95px;
        width: 50%;
        height: 350px;
        position: relative;
        button{
            position: absolute;
            bottom: 0;
        }
    }
    img{

    }
    #cellphone{
        background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-hero-phone.png");
        //height: 279px;
        //width: 573px;
        background-size: cover;
        z-index: 2;
        position: absolute;
        width: 600px;
        height: 800px;
        right: -100px;
    }
    #circle{
        background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
        opacity: 0.3;
        width: 640px;
        height:640px;
        border-radius: 640px;
        position: absolute;
        right:0px;
    }
}
.circle{
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
    opacity: 0.3;
    width: 292px;
    height: 292px;
}
//roundbutton
.rdBtn{
    font-weight: 500;
    font-size: 15px;
    font-family: 'Jost';
    padding: 15px 25px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: $lightGrey;
    border: none;
    cursor: pointer;
    transition: background-color .5s, color .5s;
    
}
.rdBtn:hover{
    background-color: $lightPeach;
    color: white;
}
.letstalklink{
    z-index: 20;
}

#tridesign{
    display: grid;
    //grid-template-columns: 541px 541px;
    //grid-template-rows: 308px 308px;
    //height: 600px;
    gap: 30px;
    text-transform: uppercase;
    //width: $desktopWidth;
    margin: 160px auto;
    a{
        background-color: #979797;
        border-radius: 10px;
        color: white;
        //align in center
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        text-decoration: none;
        div{
            margin: auto auto;

        }
        div:nth-child(2){
            z-index: 2;
        }

        .tridesign-hover-state:hover{
            background-color: $peach;
            transition: background-color .5s;
        }
        .tridesign-hover-state{
            width: 100%;
            height: 100%;
            opacity: .6;
            position: absolute;
            border-radius: 10px;
            height: 100%;
            width: 100%;
        }
        .tridesign-content-lrg{
            height: 640px;
            padding-top: 273px;
        }
        .tridesign-content-sml{
            height: 295px;
            padding-top: 107px;
        }

    }
    a:hover{
        transition: background-color 0.5s;
        cursor: pointer;
        span{
            color: $peach;
        }
    }
    h3{
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 2px;
    }
    button{
        border: none;
        background-color: transparent;
        font-size: 15px;
        color: white;
        letter-spacing: 5px;
        cursor: pointer;
        span{
            color: $lightPeach;
        }
    }
    #webdesign{
        grid-column: 1;
        grid-row: 1/3;
        background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-web-design-large.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
        
    }

    #appdesign{
        grid-column: 2;
        grid-row: 1/2;
        background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-app-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        

        
    }
    #graphicdesign{
        grid-column: 2;
        grid-row: 2/3;
        background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-graphic-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
        
    }
}
#duodesign{
    display: grid;
    grid-template-columns: 541px 541px;
    grid-template-rows: 308px;
    //height: 600px;
    gap: 30px;
    text-transform: uppercase;
    //width: $desktopWidth;
    margin: 160px auto;
    a{
        background-color: #979797;
        border-radius: 10px;
        color: white;
        //align in center
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        text-decoration: none;
        div{
            margin: auto auto;

        }
        div:nth-child(2){
            z-index: 2;
        }

        .tridesign-hover-state:hover{
            background-color: $peach;
            transition: background-color .5s;
        }
        .tridesign-hover-state{
            width: 100%;
            height: 100%;
            opacity: .6;
            position: absolute;
            border-radius: 10px;
            height: 100%;
            width: 100%;
        }
        .tridesign-content-sml{
            height: 295px;
            padding-top: 107px;
        }

    }
    a:hover{
        transition: background-color 0.5s;
        cursor: pointer;
        span{
            color: $peach;
        }
    }
    h3{
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 2px;
    }
    button{
        border: none;
        background-color: transparent;
        font-size: 15px;
        color: white;
        letter-spacing: 5px;
        cursor: pointer;
        span{
            color: $lightPeach;
        }
    }
    #webdesign{
        grid-row: 1/2;
        background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-web-design-small.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
    }
    #appdesign{
        grid-column: 1;
        grid-row: 1/2;
        background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-app-design.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
    }
    #graphicdesign{
        grid-column: 2;
        grid-row: 1/2;
        background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-graphic-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
        
    }
}









#threeteirs{
    display: flex;
    justify-content: space-between;
    text-align: center;
    //width: $desktopWidth;
    margin: 160px auto;
    section{
        width: 350px;
        height: 412px;
        position: relative;
        h4{
            width: 100%;
            font-size: 20px;
            margin: 48px 0 32px 0;
            text-transform: uppercase;
            font-weight: 500;
        }
        p{
            width: 300px;
    font-size: 16px;
    margin: auto;
        }
        img{
            margin: 0 auto;
           // z-index: 50;
        }
        .rdBtn{
            background-color: $peach;
            color: white;
        }
        .rdBtn:hover{
            background-color: $lightPeach;
        }
        .country{
            margin: 0 auto;
            width: 202px;
            height: 202px;
        }
        #canada{
            background-image: url('../starter-code/assets/about/desktop/canada.svg');
            
        }
        #australia{
            background-image: url('../starter-code/assets/about/desktop/australia.svg');
        }
        #unitedKingdom{
            background-image: url('../starter-code/assets/about/desktop/unitedKingdom.svg');
        }
        .circleIcon {
            background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
            width: 202px;
            height: 202px;
            z-index: -2;
            position: absolute;
            opacity: 0.2;
            border-radius: 202px;
            left: 70px;
        }
    }
}
.letstalk{
    background-color: $peach;
    border-radius: 10px;
    color: white;
    //padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    height: 292px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    z-index: 2;
    //footer text
    #letstalk-content{
        margin: 72px 0px 46px 95px;
        height: 174px;
        width: 459px;
        z-index: 2;
        
    }
    //webdesign text
    .center-text{
        margin: 72px auto 95px;
        text-align: center;
        width: 100%;
        z-index: 22;
    }

    h5{
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 20px 0;
    }
    p{
        font-size: 16px;
        line-height: 26px;
    }
    button{
        margin: 118px 96px 118px 0;
        z-index: 2;
    }
    .circleduo{
        position: absolute;
        right: 0;
        
    }
    #border-overlap{
        border-radius: 20px 0 292px 292px !important
    }
    .circletrio{
        position: absolute;
        bottom: -8px;
        right: 0;
        
    }
    .half-circle{
        //border-radius: 292px;
        border-radius: 0 0 292px 292px;
        display: inline-block;
        height: 146px;
        transform: scaleX(-1);
    }
    .full-circle{
        border-radius: 0 0 292px 292px;
        height: 146px;
        transform: rotate(180deg);
    }
    .multicircle{
        display: inline-block;
        background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
        opacity: 0.3;
        width: 292px;
    }
}

footer{
    //overlap
    //margin-top: -50px;
    height: 613px;
    color: white;
    a{
        color: white;
    }
    article{
        margin: 0 10vw;
        position: relative;
    }
    ul{
        display: inline-block;
    }
    #footer-content-wrapper{
        height: 393px;
        background-color: #1D1C1E;
        position: relative;
        bottom: 216px
    }
    #footer-content{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto;
        position: relative;
        //margin: 144px auto 72px auto;
        width: 1111px;
        margin: 144px auto 72px auto;
        top: 144px;
        .logoSection{
            grid-column: 1/4;
            grid-row: 1;
            display: flex;
            justify-content: space-between;
            //padding-top: 72px;
            padding-bottom: 40px;
            border-bottom: 1px solid $darkGrey;
            li{
                margin: 21px;
            }
            a{
                color: $white;
                letter-spacing: 2px;
                font-size: 14px;
                text-transform: uppercase;
            }
            a:hover{
                cursor: pointer;
                text-decoration: underline;
            }
            div{
                display: inline-block;
            }
            svg path{
                fill: white;
            }
        }
        .footer-content-sections{
            color: $white;
            opacity: 0.5;
            font-size: 16px;
            margin-top: 32px;
            h6{
                font-weight: 600;
                font-size: 16px;
                margin: 0;
            }
            p{
                font-size: 16px;
            }

        }
        .contact-info p{
            font-weight: 600;
        }
        #social-media{
            position: relative;
            ul{
                position: absolute;
                bottom: 0;
                right: 0;
                a{
                    margin: 0 8px;
                }
                a:hover > svg path{
                    fill: $lightPeach;
                }
            }

        }
    }
}
//grey background decal



.background-img{
    background: #F1F3F5;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 297px 297px 297px 0px;
    position: absolute;
    height: 594px;
    width: 1006px;
    z-index: -10;
    right: 0;
    transform: rotate(-180deg);
}
.background-img.graphic-design-bg{
    bottom: -800px !important;
}
.background-img.home-design-bg{
    bottom: -1400px;;
}
.background-img#about-design-bg-below{
    top:1750px;
    right: -450px !important;
}
.background-img#about-design-bg-upper{
    //bottom:-1100px;
    transform: rotate(0deg);
    left: 0;
    top: 500px;
}
.upper-left{
    transform: rotate(0deg);
    left: 0;
    top: 250px;
}
#home-bg-img{
    top: 400px !important;
}
#contact-design-bg{
    top: 850px;
    transform: rotate(360deg);
}





p{
    font-size: 16px;
    line-height: 26px;
    font-family: 'jost';
}
h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
}
//WEBDESIGN

#webdesign-cards-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 30px;
    width: $desktopWidth;
    margin: 160px auto;
    section{
        height: 478px;
        width: 350px;
        
        img{
            height: 320px;
            width: 350px;
            border-radius: 15px 15px 0 0;
        }
        div{
            background-color: $lightPeach;
            cursor: pointer;
            border-radius: 0px 0px 15px 15px;
            padding: 32px;
            text-align: center;
            h2{
            color: $peach;
            font-weight: 400;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 26px;
            }
        }
        div:hover{
            background-color: $peach;
            h2, p{
                color: $white;
                transition: background-color .5s, color .3s ;
            }
        }
    }
}
//ABOUT US
.about-us-header{
    width: $desktopWidth;
    height: 480px;
    display: flex;
    margin: 0 auto 160px;
    border-radius: 15px;
    background-color: $peach;
    color: $white;
    position: relative;
    overflow: hidden;
    //justify-content: center;
    div:nth-child(1){
        width:634px ;
        margin: 135px 95px;
        h2{
            margin-bottom: 32px;
        }
    }
    div:nth-child(2){
        border-radius: 0 15px 15px 0;
    }

    #about-us-img{
        background-image: url("../starter-code/assets/about/desktop/image-about-hero.jpg");
        width: 476px;
    }
}







//circles
#about-worldclass .circle-container{
    right: 197px;
    left: auto;
}
.about-us-card.true-full-circle{
    position: absolute !important;
}
.about-us-card .true-full-circle:nth-child(2) {
    transform: rotate(90deg);
}

.about-us-card{
    width: $desktopWidth;
    height: 640px;
    margin: 160px auto;
    display: flex;
    border-radius: 15px;
    background-color: $lightestPeach;
    position: relative;
    //div:nth-child(1){
     //   width: 634px;
    //}

    .about-us-content{
        width: 634px;
        margin: 154px 96px;
        h2{
            color: #E7816B;
            margin-bottom: 24px;
        }
    }
    #about-us-worldclass{
        background-image: url("../starter-code/assets/about/desktop/image-world-class-talent.jpg");
        width: 476px;
        border-radius: 15px 0 0 15px;
    }
    #about-us-realdeal{
        background-image: url("../starter-code/assets/about/desktop/image-real-deal.jpg");
        width: 476px;
        border-radius: 0 15px 15px 0;
    }
}
.lg-circle-decal{
    background: linear-gradient(
90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
    opacity: 0.3;
    width: 640px;
    height: 640px;
    border-radius: 640px;
    position: absolute;
    left: 0;
    bottom: 0;
}

//CONTACT
.location-card-img{
    width: 350px;
    height: 326px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

#location-canada{
    background-image: url('../starter-code/assets/locations/desktop/image-map-canada.png');
}
#location-australia{
    background-image: url('../starter-code/assets/locations/desktop/image-map-australia.png');
}
#location-UK{
    background-image: url('../starter-code/assets/locations/desktop/image-map-united-kingdom.png');
}
.location-card-content{
    width: 730px;
    border-radius: 15px;
    background-color: $lightestPeach;
    padding: 88px 95px;
    position: relative;
    h2{
        color: $peach;
        display: block;
        margin-bottom: 24px;
    }
    p{
        width: 255px;
        height: 78px;
    }
    p::first-line{
        font-weight: 500;
    }
    .location-info{
        display: flex;
        justify-content: space-between;
    }
    .true-full-circle:nth-child(1){
        
    }
    .true-full-circle:nth-child(2){
        transform: rotate(90deg);
    }
}
.location-card{
    display: flex;
    justify-content: space-between;
    width: $desktopWidth;
    height: 326px;
    margin: 0 auto 30px auto;
}
.location-card:nth-child(3){
    margin-bottom: 160px;
}
.true-full-circle{
    //position: absolute;
    border-radius:292px;
    height: 292px;
    width: 292px;
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
    opacity: 0.06;
    display: inline-block;
    //transform: rotate(180deg);
}

.circle-container {
    width: 600px;
    height: 292px;
    position: absolute;
    bottom: 0;
    left: 0;
} 

//CONTACT FORM
#contact-form{
    width: 380px;
    height: 371px;
    margin: 54px 96px 54px 0;
    div:nth-child(2){
        border-radius: 0;
    }
    section{
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    
    }
    input{
        border: none;
        background: transparent;
        color: white;
        cursor: pointer;
        width: 180px;
    }
    textarea::placeholder, input::placeholder{
        color: white;
        opacity: 0.5;
    }
    section:not(:last-child){
        height: 38px;
        padding-bottom: 11px;
    }
    section:first-child{
        margin: 0;
        position: relative;
        margin-bottom: 23px;
    }
    section:last-child{
        height: 102px;
        //padding-bottom: 70px;
        //prevent auto vertical centering
        input, p , img{
            align-self: flex-start;
        }
    }
    p, img{
        //height: 100%;
        display: inline-block;
        margin: auto 4px;
        //visibility: hidden;
    }
    img{
        //padding: 9px 2px;
        bottom: 0;
    }
    p{
        font-size: 12px;
        font-style: italic;
        line-height: 26px;
    }
    textarea{
        background: transparent;
        border: none;
        color: white;
        resize: none;
        //overflow: scroll;
        scrollbar-width: thin;
    }
    textarea:focus, input:focus{
        border: none;
        outline: none;
        background-color: transparent;
        ::placeholder{
            color: white;
            opacity: 1;
            font-weight: 500;
        }
    }
    .invalidFormat{
        visibility: hidden;
        display: flex;
    }
}
.contact-form{
    transform: rotate(90deg);
}

//footer adjustments for no lettalk panel
footer.no-lets-talk{
    height: auto;
    
    #footer-content-wrapper{
        bottom: 0;
        display: flex;
    justify-content: center;
        #footer-content{
            top: 0;
        }
    }
}

//Contact scrollbar
/* width */
textarea::-webkit-scrollbar {
    width: 10px;
}
textarea::-webkit-scrollbar-track {
    background-color: $lightestPeach;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: $lightPeach; 
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #e28e7b; 

}

.show{
    visibility: visible !important;
}

$smlDesktopWidth: 800px;
@media only screen and (max-width: 1200px) {
    

    body main{
        //width: $smlDesktopWidth;
    }
    .award-header{
        font-size: 12px;
    }
    nav{
        //width: $smlDesktopWidth;
    }
    #threeteirs{
        display: block;
        gap: 40px;
        section{
            height: 250px;
            position: relative;
            display: flex;
            justify-content: flex-start;
            gap: 50px;
            width: auto;
            .threetiers-icons{
                //position: relative;
                margin: auto;
                .circleIcon{
                    left: 0;
                }
                img{
                    //margin: 0 auto;
                    //position: absolute;
                }
            }
            .threetiers-content{
                width: 700px;
                margin: auto;
                display: inline-block;
                position: relative;
                text-align: left;
                h4{
                    margin: 0 0 32px 0;
                }
                p{
                    width: auto;
                }
            }
        }

    }
}

$tabletWidth: 500px;

@media only screen and (max-width: 994px) {
    
    body main{
        //width: $tabletWidth;
    }
    nav{
        //width: $tabletWidth;
    }
    .letstalk{
        padding: 50px 0;
        display: block !important;
        height: 350px;
        #letstalk-content{
            margin: 0 auto;
    position: relative;
    text-align: center;
        }
        .letstalklink{
            margin: 0 auto;
    padding: 0 auto;
    /* width: 100%; */
    display: table;
            button{
                margin: 0;
            }
        }
    }

}

$phoneWidth: 100%;
@media only screen and (max-width: 658px) {
    
    body main{
        width: $phoneWidth;
    }
    nav{
        width: $phoneWidth;
    }
    .letstalk{
        width: auto;
    margin-left: 15px;
    margin-right: 15px;
    }
}
