@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");
* {
  font-family: 'Red Hat Text';
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #191a24;
  background-image: url("../images/bg-stars.svg");
}

h1 {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 15vh;
  margin: 0 15px;
}

h3 {
  display: block;
  color: #8486a9;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

h4 {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 5px auto;
  font-size: 65px;
  color: #fb6087;
  font-weight: 700;
}

.container-wrapper {
  width: 700px;
  margin: 12% auto 10% auto;
  text-align: center;
}

.container-wrapper .count_wrapper {
  display: inline-block;
  margin: 0 10px;
  z-index: -2;
  height: 120px;
  position: relative;
}

.container-wrapper .count_card {
  width: 100px;
  height: 100px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
  background: #34364D;
}

.container-wrapper .count_card_overlay {
  width: 100px;
  height: 50px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #2B2C44;
  top: 0px;
  position: absolute;
  overflow: hidden;
}

.container-wrapper .count_card_overlay h4 {
  color: #e05275;
}

.container-wrapper .shadow {
  border-bottom: 5px solid black;
}

footer {
  margin-top: 15vh;
  background-image: url("../images/pattern-hills.svg");
  width: 100vw;
  height: 20vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
}

footer ul {
  text-align: center;
  padding: 0;
  width: 100vw;
  position: absolute;
  bottom: 50px;
}

footer .socialMedia {
  display: inline-block;
  margin: 10px;
  width: 25px;
  height: 25px;
}

.halfCircle {
  position: absolute;
  top: 45px;
  z-index: 5;
  background: #191a24;
  width: 5px;
  height: 10px;
  margin: 0;
}

.left {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.right {
  right: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

svg path:hover {
  fill: #fb6087;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .container-wrapper {
    width: 100%;
    margin: 25vh auto 10% auto;
  }
  h1 {
    font-size: 20px;
    margin: 0 0 10vh 0;
  }
  h3 {
    font-size: 7px;
  }
  h4 {
    margin: 5px auto;
    font-size: 45px;
  }
  .halfCircle {
    top: 32px;
  }
  .container-wrapper .count_wrapper {
    margin: 0 5px;
  }
  .container-wrapper .count_card {
    height: 75px;
    width: 75px;
  }
  .container-wrapper .count_card_overlay {
    height: 37.5px;
    width: 75px;
  }
  footer {
    background-size: 175% 100%;
    background-position: -75px 0;
    height: 25vh;
  }
  footer ul {
    margin-top: auto;
    bottom: 0vh;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */