@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
}

body {
  font-family: 'Jost', sans-serif;
  height: 100%;
}

body main {
  padding: 0 10vw 150px 10vw;
}

body nav {
  padding: 50px 10vw;
}

body article {
  margin: 0 0 155px 0;
  border-radius: 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

nav a.logoSection, nav a.logoSection:hover {
  text-decoration: none;
}

nav .logoSection:hover {
  cursor: pointer;
}

nav div {
  display: inline-block;
}

nav li {
  margin: 21px;
}

nav a {
  color: #1D1C1E;
}

nav a:hover {
  text-decoration: underline;
}

.logoDesign {
  background: conic-gradient(from 90deg at 50% 50%, rgba(231, 129, 107, 0.0001) 0deg, #E7816B 359.74deg, rgba(231, 129, 107, 0.0001) 360deg);
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin-right: 18px;
}

.award-header {
  background-color: #E7816B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 640px;
  color: white;
  font-family: 'Jost';
  width: 1110px;
  margin: 0px auto 160px auto;
  position: relative;
}

.award-header h2 {
  font-weight: 500;
  font-size: 48px;
  font-family: 'Jost';
  line-height: 48px;
}

.award-header p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 25px;
}

.award-header div {
  width: 50%;
}

.award-header .award-header-content {
  margin: 150px 0px 140px 95px;
  width: 540px;
  height: 350px;
  position: relative;
}

.award-header .award-header-content button {
  position: absolute;
  bottom: 0;
}

.award-header #cellphone {
  background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-hero-phone.png");
  background-size: cover;
  z-index: 2;
}

.award-header #circle {
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  opacity: 0.3;
  width: 640px;
  height: 640px;
  border-radius: 640px;
  position: absolute;
  right: 0px;
}

.circle {
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  opacity: 0.3;
  width: 292px;
  height: 292px;
}

.rdBtn {
  font-weight: 500;
  font-size: 15px;
  font-family: 'Jost';
  padding: 15px 25px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #F1F3F5;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
}

.rdBtn:hover {
  background-color: #FFAD9B;
  color: white;
}

.letstalklink {
  z-index: 20;
}

#tridesign {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  height: 600px;
  gap: 10px;
  text-transform: uppercase;
  width: 1110px;
  margin: 160px auto;
}

#tridesign a {
  background-color: #979797;
  border-radius: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  text-decoration: none;
}

#tridesign a div {
  margin: auto auto;
}

#tridesign a div:nth-child(2) {
  z-index: 2;
}

#tridesign a .tridesign-hover-state:hover {
  background-color: #E7816B;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

#tridesign a .tridesign-hover-state {
  width: 100%;
  height: 100%;
  opacity: .6;
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

#tridesign a .tridesign-content-lrg {
  height: 640px;
  padding-top: 273px;
}

#tridesign a .tridesign-content-sml {
  height: 295px;
  padding-top: 107px;
}

#tridesign a:hover {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}

#tridesign a:hover span {
  color: #E7816B;
}

#tridesign h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}

#tridesign button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: white;
  letter-spacing: 5px;
  cursor: pointer;
}

#tridesign button span {
  color: #FFAD9B;
}

#tridesign #webdesign {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-web-design-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#tridesign #appdesign {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-app-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#tridesign #graphicdesign {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#duodesign {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 10px;
  text-transform: uppercase;
  width: 1110px;
  margin: 160px auto;
}

#duodesign a {
  background-color: #979797;
  border-radius: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  text-decoration: none;
}

#duodesign a div {
  margin: auto auto;
}

#duodesign a div:nth-child(2) {
  z-index: 2;
}

#duodesign a .tridesign-hover-state:hover {
  background-color: #E7816B;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

#duodesign a .tridesign-hover-state {
  width: 100%;
  height: 100%;
  opacity: .6;
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

#duodesign a .tridesign-content-sml {
  height: 295px;
  padding-top: 107px;
}

#duodesign a:hover {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}

#duodesign a:hover span {
  color: #E7816B;
}

#duodesign h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}

#duodesign button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: white;
  letter-spacing: 5px;
  cursor: pointer;
}

#duodesign button span {
  color: #FFAD9B;
}

#duodesign #webdesign {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-web-design-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#duodesign #appdesign {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-app-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#duodesign #graphicdesign {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("/designo-multi-page-website/starter-code/assets/home/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#threeteirs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 1110px;
  margin: 160px auto;
}

#threeteirs section {
  width: 350px;
  height: 412px;
  position: relative;
}

#threeteirs section h4 {
  width: 100%;
  font-size: 20px;
  margin: 48px 0 32px 0;
  text-transform: uppercase;
  font-weight: 500;
}

#threeteirs section p {
  width: 100%;
  font-size: 16px;
}

#threeteirs section img {
  margin: 0 auto;
}

#threeteirs section .rdBtn {
  background-color: #E7816B;
  color: white;
}

#threeteirs section .rdBtn:hover {
  background-color: #FFAD9B;
}

#threeteirs section .country {
  margin: 0 auto;
  width: 202px;
  height: 202px;
}

#threeteirs section #canada {
  background-image: url("../starter-code/assets/about/desktop/canada.svg");
}

#threeteirs section #australia {
  background-image: url("../starter-code/assets/about/desktop/australia.svg");
}

#threeteirs section #unitedKingdom {
  background-image: url("../starter-code/assets/about/desktop/unitedKingdom.svg");
}

#threeteirs section .circleIcon {
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  width: 202px;
  height: 202px;
  z-index: -2;
  position: absolute;
  opacity: 0.2;
  border-radius: 202px;
  left: 70px;
}

.letstalk {
  background-color: #E7816B;
  border-radius: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 292px;
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.letstalk #letstalk-content {
  margin: 72px 0px 46px 95px;
  height: 174px;
  width: 459px;
  z-index: 2;
}

.letstalk .center-text {
  margin: 72px auto 95px;
  text-align: center;
  width: 100%;
  z-index: 22;
}

.letstalk h5 {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.letstalk p {
  font-size: 16px;
  line-height: 26px;
}

.letstalk button {
  margin: 118px 96px 118px 0;
  z-index: 2;
}

.letstalk .circleduo {
  position: absolute;
  right: 0;
}

.letstalk #border-overlap {
  border-radius: 20px 0 292px 292px !important;
}

.letstalk .circletrio {
  position: absolute;
  bottom: -8px;
  right: 0;
}

.letstalk .half-circle {
  border-radius: 0 0 292px 292px;
  display: inline-block;
  height: 146px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.letstalk .full-circle {
  border-radius: 0 0 292px 292px;
  height: 146px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.letstalk .multicircle {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  opacity: 0.3;
  width: 292px;
}

footer {
  background-color: black;
  height: 393px;
  color: white;
}

footer a {
  color: white;
}

footer article {
  margin: 0 10vw;
  top: -220px;
  position: relative;
}

footer #footer-content {
  margin: 0 164px;
  padding-bottom: 72px;
}

footer ul {
  display: inline-block;
}

footer #footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  top: -220px;
  position: relative;
}

footer #footer-content .logoSection {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 40px;
  border-bottom: 1px solid #333136;
}

footer #footer-content .logoSection li {
  margin: 21px;
}

footer #footer-content .logoSection a {
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
}

footer #footer-content .logoSection a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer #footer-content .logoSection div {
  display: inline-block;
}

footer #footer-content .logoSection svg path {
  fill: white;
}

footer #footer-content .footer-content-sections {
  color: #333136;
  font-size: 16px;
  margin-top: 32px;
}

footer #footer-content .footer-content-sections h6 {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

footer #footer-content .footer-content-sections p {
  font-size: 16px;
}

footer #footer-content .contact-info p {
  font-weight: 600;
}

footer #footer-content #social-media {
  position: relative;
}

footer #footer-content #social-media ul {
  position: absolute;
  bottom: 0;
  right: 0;
}

footer #footer-content #social-media ul a {
  margin: 0 8px;
}

footer #footer-content #social-media ul a:hover > svg path {
  fill: #FFAD9B;
}

.background-img {
  background: #F1F3F5;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 297px 297px 297px 0px;
  position: absolute;
  height: 594px;
  width: 1006px;
  z-index: -10;
  right: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.background-img.graphic-design-bg {
  bottom: -800px !important;
}

.background-img.home-design-bg {
  bottom: -1400px;
}

.background-img#about-design-bg-below {
  top: 1750px;
  right: -450px !important;
}

.background-img#about-design-bg-upper {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  left: 0;
  top: 500px;
}

.upper-left {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  left: 0;
  top: 250px;
}

#home-bg-img {
  top: 400px !important;
}

#contact-design-bg {
  top: 850px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

p {
  font-size: 16px;
  line-height: 26px;
  font-family: 'jost';
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

#webdesign-cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 30px;
  width: 1110px;
  margin: 160px auto;
}

#webdesign-cards-container section {
  height: 478px;
  width: 350px;
}

#webdesign-cards-container section img {
  height: 320px;
  width: 350px;
  border-radius: 15px 15px 0 0;
}

#webdesign-cards-container section div {
  background-color: #FFAD9B;
  cursor: pointer;
  border-radius: 0px 0px 15px 15px;
  padding: 32px;
  text-align: center;
}

#webdesign-cards-container section div h2 {
  color: #E7816B;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
}

#webdesign-cards-container section div:hover {
  background-color: #E7816B;
}

#webdesign-cards-container section div:hover h2, #webdesign-cards-container section div:hover p {
  color: white;
  -webkit-transition: background-color .5s, color .3s;
  transition: background-color .5s, color .3s;
}

.about-us-header {
  width: 1110px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 160px;
  border-radius: 15px;
  background-color: #E7816B;
  color: white;
}

.about-us-header div:nth-child(1) {
  width: 634px;
  margin: 135px 95px;
}

.about-us-header div:nth-child(1) h2 {
  margin-bottom: 32px;
}

.about-us-header div:nth-child(2) {
  border-radius: 0 15px 15px 0;
}

.about-us-header #about-us-img {
  background-image: url("../starter-code/assets/about/desktop/image-about-hero.jpg");
  width: 476px;
}

.about-us-card {
  width: 1110px;
  height: 640px;
  margin: 160px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  background-color: #FDF3F0;
}

.about-us-card .about-us-content {
  width: 634px;
  margin: 154px 96px;
}

.about-us-card .about-us-content h2 {
  color: #E7816B;
  margin-bottom: 24px;
}

.about-us-card #about-us-worldclass {
  background-image: url("../starter-code/assets/about/desktop/image-world-class-talent.jpg");
  width: 476px;
  border-radius: 15px 0 0 15px;
}

.about-us-card #about-us-realdeal {
  background-image: url("../starter-code/assets/about/desktop/image-real-deal.jpg");
  width: 476px;
  border-radius: 0 15px 15px 0;
}

.location-card-img {
  width: 350px;
  height: 326px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

#location-canada {
  background-image: url("../starter-code/assets/locations/desktop/image-map-canada.png");
}

#location-australia {
  background-image: url("../starter-code/assets/locations/desktop/image-map-australia.png");
}

#location-UK {
  background-image: url("../starter-code/assets/locations/desktop/image-map-united-kingdom.png");
}

.location-card-content {
  width: 730px;
  border-radius: 15px;
  background-color: #FDF3F0;
  padding: 88px 95px;
  position: relative;
}

.location-card-content h2 {
  color: #E7816B;
  display: block;
  margin-bottom: 24px;
}

.location-card-content p {
  width: 255px;
  height: 78px;
}

.location-card-content p::first-line {
  font-weight: 500;
}

.location-card-content .location-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location-card-content .true-full-circle:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.location-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  height: 326px;
  margin: 0 auto 30px auto;
}

.location-card:nth-child(3) {
  margin-bottom: 160px;
}

.true-full-circle {
  border-radius: 292px;
  height: 292px;
  width: 292px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  opacity: 0.06;
  display: inline-block;
}

.circle-container {
  width: 600px;
  height: 292px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#contact-form {
  width: 380px;
  height: 371px;
  margin: 54px 96px 54px 0;
}

#contact-form input {
  width: 100%;
  border: none;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 25px;
  padding-left: 16px;
  cursor: pointer;
}

#contact-form input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

#contact-form input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

#contact-form input::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

#contact-form input::placeholder {
  color: white;
  opacity: 0.5;
}

#contact-form input:not(:last-child) {
  height: 38px;
  padding-bottom: 11px;
}

#contact-form input:last-child {
  height: 102px;
  padding-bottom: 70px;
}

#contact-form input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
}

#contact-form input:focus ::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  font-weight: 500;
}

#contact-form input:focus :-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-weight: 500;
}

#contact-form input:focus ::-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-weight: 500;
}

#contact-form input:focus ::placeholder {
  color: white;
  opacity: 1;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */