/*
#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%)
*/
/* Light Theme*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  font-family: 'Inter', sans-serif;
  display: block;
  margin: 0;
}

#wrapper {
  margin: 0;
  padding: 50px 150px;
  width: 100%;
  z-index: -1000;
  position: absolute;
}

h2 {
  font-size: 14px;
  color: #63687e;
}

h3 {
  font-size: 64px;
  margin: 20px auto;
}

h4 {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

#background-shade {
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
}

.lightTheme {
  color: #1e202a;
}

.lightTheme h6 {
  color: #63687e;
}

.lightTheme h2 {
  color: #63687e;
}

.lightTheme section {
  background-color: #f0f2fa;
}

.lightTheme #background-shade {
  background-color: #f5f7ff;
}

.lightTheme #wrapper {
  background-color: white;
}

.darkTheme {
  color: white;
}

.darkTheme h6 {
  color: #8b97c6;
}

.darkTheme section {
  background-color: #252a41;
}

.darkTheme #background-shade {
  background-color: #1f212e;
}

.darkTheme #wrapper {
  background-color: #2a2d3c;
}

#toggle {
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

#large-cards {
  width: 1400px;
  /*could also be 100% if you want to skew*/
  display: block;
  margin: 0 auto 0 0;
}

#large-cards section {
  margin: 10px;
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
}

#large-cards .tagline img {
  display: inline-block;
  top: 8px;
  position: relative;
  padding-right: 5px;
}

#large-cards .tagline h6 {
  display: inline-block;
}

#overview-header {
  font-size: 24px;
}

#small-cards {
  width: 1400px;
  margin: 0 auto 0 0;
  display: block;
}

#small-cards section {
  margin: 10px;
  width: 270px;
  height: 120px;
  display: inline-block;
  border-radius: 15px;
  text-align: left;
  padding: 30px 0px 0px 30px;
}

#small-cards section h3 {
  font-size: 32px;
}

#small-cards section .increments {
  float: right;
  position: relative;
  right: 30px;
  bottom: 40px;
}

#small-cards section .small-cards-icon {
  float: right;
  position: relative;
  top: -30px;
  right: 30px;
}

.increments img {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  padding-bottom: 2px;
}

.increments h5 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.up h5 {
  color: green;
}

.down h5 {
  color: red;
}

.facebook {
  border-top: solid #198ff5 5px;
}

.instagram {
  border-top: solid #c4032a 5px;
}

.youtube {
  border-top: solid #c4032a 5px;
}

.twitter {
  border-top: solid #1ca0f2 5px;
}

#switchbox {
  float: right;
  top: -80px;
  right: 180px;
  position: relative;
  margin-right: 50px;
}

#switchbox .switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
  background: #aeb3cb;
  border-radius: 20px;
}

#switchbox .switch::after {
  left: 2px;
  top: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  content: "";
  background-color: white;
}

#switchbox .checkbox:checked + .switch::after {
  left: 22px;
  background-color: #1e202a;
}

#switchbox .checkbox:checked + .switch {
  background: -webkit-gradient(linear, left top, left bottom, from(#378fe6), to(#3eda82));
  background: linear-gradient(#378fe6, #3eda82);
}

#switchbox .checkbox {
  display: none;
}

#switchbox .round {
  border-radius: 20px;
}

#switchbox #switch-text {
  float: left;
  margin: 2px 10px 0 0;
}
/*# sourceMappingURL=style.css.map */