@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  font-family: 'Inter', sans-serif;
  display: block;
  margin: 0;
  height: 100%;
}

#wrapper {
  margin: 0;
  padding: 50px 150px;
  width: 100%;
  z-index: -1000;
  position: absolute;
}

h2 {
  font-size: 14px;
  color: #63687e;
}

h3 {
  font-size: 64px;
  margin: 20px auto;
}

h4 {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

#toggle {
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

#large-cards {
  width: 1400px;
  /*could also be 100% if you want to skew*/
  display: block;
  margin: 0 auto 0 0;
}

#large-cards section {
  margin: 10px;
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

#large-cards .tagline img {
  display: inline-block;
  top: 8px;
  position: relative;
  padding-right: 5px;
}

#large-cards .tagline h6 {
  display: inline-block;
}

#overview-header {
  font-size: 24px;
}

#small-cards {
  width: 1400px;
  margin: 0 auto 0 0;
  display: block;
}

#small-cards section {
  margin: 10px;
  width: 270px;
  height: 120px;
  display: inline-block;
  border-radius: 15px;
  text-align: left;
  padding: 30px 0px 0px 30px;
  cursor: pointer;
}

#small-cards section h3 {
  font-size: 32px;
}

#small-cards section .increments {
  float: right;
  position: relative;
  right: 30px;
  bottom: 40px;
}

#small-cards section .small-cards-icon {
  float: right;
  position: relative;
  top: -30px;
  right: 30px;
}

.increments img {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  padding-bottom: 2px;
}

.increments h5 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.up h5 {
  color: #1db489;
}

.down h5 {
  color: #dc414c;
}

.facebook {
  border-top: solid #198ff5 5px;
}

.instagram {
  border-top: solid #c4032a 5px;
}

.youtube {
  border-top: solid #c4032a 5px;
}

.twitter {
  border-top: solid #1ca0f2 5px;
}

#switchbox {
  float: right;
  top: -80px;
  right: 180px;
  position: relative;
  margin-right: 50px;
}

#switchbox .switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
  background: #aeb3cb;
  border-radius: 20px;
}

#switchbox .switch::after {
  left: 2px;
  top: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  content: "";
  background-color: white;
}

#switchbox .switch:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#378fe6), to(#3eda82));
  background: linear-gradient(#378fe6, #3eda82);
}

#switchbox .switch::after:hover {
  background-color: #1f212e;
}

#switchbox .checkbox:checked + .switch::after {
  left: 22px;
  background-color: #1e202a;
}

#switchbox .checkbox:checked + .switch {
  background: -webkit-gradient(linear, left top, left bottom, from(#378fe6), to(#3eda82));
  background: linear-gradient(#378fe6, #3eda82);
}

#switchbox .checkbox {
  display: none;
}

#switchbox .round {
  border-radius: 20px;
}

#switchbox #switch-text {
  float: left;
  margin: 2px 10px 0 0;
}

.lightTheme {
  color: #1e202a;
}

.lightTheme h6 {
  color: #63687e;
}

.lightTheme h2 {
  color: #63687e;
}

.lightTheme section {
  background-color: #f0f2fa;
}

.lightTheme section:hover {
  background-color: #dadff1;
}

.lightTheme #background-shade {
  background-color: #f5f7ff;
}

.lightTheme #wrapper {
  background-color: white;
}

.darkTheme {
  color: white;
}

.darkTheme h6 {
  color: #8b97c6;
}

.darkTheme h2 {
  color: white;
}

.darkTheme section {
  background-color: #252a41;
}

.darkTheme section:hover {
  background-color: #333b5b;
}

.darkTheme #background-shade {
  background-color: #1f212e;
}

.darkTheme #wrapper {
  background-color: #2a2d3c;
}

@media only screen and (max-width: 900px) {
  #large-cards {
    width: 320px;
    margin: 0 auto;
    display: block;
  }
  #large-cards section {
    display: block;
  }
  #small-cards {
    width: 320px;
    margin: 0 auto 60px auto;
    display: block;
  }
  #small-cards section {
    display: block;
  }
  #dashboard {
    margin: 0 auto 100px auto;
    display: block;
    width: 300px;
  }
  #switchbox {
    float: left;
    top: 0;
    right: 0;
    display: block;
    border-top: solid 2px #63687e;
    width: 300px;
    padding-top: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .switch {
    float: right;
  }
  .checkbox {
    float: right;
  }
  #wrapper {
    padding: 50px 0 0 0;
  }
  #overview-header {
    display: block;
    margin: 30px auto 30px auto;
    width: 300px;
  }
  h1 {
    font-size: 26px;
  }
}
/*# sourceMappingURL=style.css.map */