//COLOR PALLETES
//Dark Theme
$veryDarkBlueBG: hsl(230, 17%, 14%);
$veryDarkBlueTPBG : hsl(232, 19%, 15%);
$darkDesaturatedBlueCard: hsl(228, 28%, 20%);
$desaturatedBlueTxt : hsl(228, 34%, 66%);
$whiteTxt: hsl(0, 0%, 100%);

//Light Theme
$whiteBG: hsl(0, 0%, 100%);
$veryPaleBlueTopBG:hsl(225, 100%, 98%);
$lightGrayBlueCardBG:hsl(227, 47%, 96%);
$darkGrayBlueText:hsl(228, 12%, 44%);
$veryDarkBlueText:hsl(230, 17%, 14%);

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter', sans-serif;
    display: block;
    margin: 0;
    height:100%;
}
#wrapper{
    margin: 0;
    padding: 50px 150px;
    width: 100%;
    z-index: -1000;
    position: absolute;
}
//UNIVERSAL FONTS
h2{
    font-size: 14px;
    color: $darkGrayBlueText;
}
h3 {
    font-size: 64px;
    margin: 20px auto;
}
h4 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
}
//TOGGLE DIV
#toggle{
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
}

#large-cards {
    width: 1400px; /*could also be 100% if you want to skew*/
    display: block;
    margin: 0 auto 0 0;
    section{
        margin: 10px;
        width: 300px;
        height: 300px;
        display: inline-block;
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
    }
    .tagline{
        img {
            display: inline-block;
            top: 8px;
            position: relative;
            padding-right: 5px;
        }
        h6{
            display: inline-block;
        }
    }
}

#overview-header{
    font-size: 24px;
}

#small-cards {
    width: 1400px;
    margin: 0 auto 0 0;
    display: block;
    section{
        margin: 10px;
        width: 270px;
        height: 120px;
        display: inline-block;
        border-radius: 15px;
        text-align: left;
        padding: 30px 0px 0px 30px;
        cursor: pointer;
        h3{
            font-size: 32px;
        }
        .increments {
            float: right;
            position: relative;
            right: 30px;
            bottom: 40px;
        }
        .small-cards-icon {
            float: right;
            position: relative;
            top: -30px;
            right: 30px;
        }
    }
}

//UP-DOWN ARROW ICONS
//Shared between the two card sizes
.increments {
    img {
        display: inline-block;
        position: relative;
        padding-right: 10px;
        padding-bottom: 2px;
    }
    h5{
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}

//CORRESPONDING HEADER COLOR TO ARROW MEANING
.up h5{
    color: hsl(163, 72%, 41%);
}
.down h5 {
    color:hsl(356, 69%, 56%);
}

//CARD BORDERTOPS

.facebook {
    border-top: solid hsl(208, 92%, 53%) 5px
}
.instagram {
    border-top: solid hsl(348, 97%, 39%) 5px

}
.youtube {
    border-top: solid hsl(348, 97%, 39%) 5px
}
.twitter {
    border-top: solid hsl(203, 89%, 53%) 5px;
}

//TOGGLE SWITCH
#switchbox {
    float: right;
    top: -80px;
    right: 180px;
    position: relative; //so that it doesnt move with the screen
    margin-right: 50px;
    .switch{ //initial view
        cursor: pointer;
        position : relative ;
        display : inline-block;
        width : 42px;
        height : 22px;
        background: hsl(230, 22%, 74%); //LIGHTMODE
        border-radius: 20px;
    }
    .switch::after{ //layover
        left: 2px;
        top: 2px;
        transition: all 0.3s;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        position: absolute;
        content: "";
        background-color: $whiteBG; //LIGHTMODE
    }

    //HOVER STATES
    .switch:hover{
        background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%)); //DARKMODE

    }
    .switch::after:hover{
        background-color: $veryDarkBlueTPBG; //DARKMODE
    }

    //CHECKED DARK STATES
    .checkbox:checked + .switch::after{ //layover moves left 20px (->) when checkbox checked
        left: 22px;
        background-color: $veryDarkBlueBG; //DARKMODE
    }
    .checkbox:checked + .switch {
        background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%)); //DARKMODE
    }
    .checkbox{ //hide the default checkbox 
        display: none;
    }
    .round{
        border-radius: 20px;
    }
    #switch-text {
        float: left;
        margin: 2px 10px 0 0;
    }
}


//DARK & LIGHT THEMES
.lightTheme {
    color: $veryDarkBlueText;
    h6 {
        color: $darkGrayBlueText;
    }
    h2{
        color: $darkGrayBlueText;
    }
    section{
        background-color: $lightGrayBlueCardBG;
    }
    section:hover{
        background-color: hsl(227, 47%, 90%);
    }
    #background-shade{
        background-color: $veryPaleBlueTopBG;
    }
    #wrapper {
        background-color: $whiteBG;
    }

}

.darkTheme{
    color: $whiteTxt;
    h6 {
        color: $desaturatedBlueTxt;
    }
    h2{
        color: $whiteTxt;
    }
    section{
        background-color: $darkDesaturatedBlueCard;
    }
    section:hover{
        background-color: hsl(228, 28%, 28%);
    }
    #background-shade{
        background-color: $veryDarkBlueTPBG;
    }
    #wrapper{
        background-color: hsl(230, 17%, 20%);
    }

}


//MOBILE RESPONSIVENESS
@media only screen and (max-width: 900px) {
    #large-cards {
        section{
            display: block;
        }
    }
    #small-cards{
        section{
            display:block;
        }
    }
    #dashboard{
        margin-bottom: 100px;

    }
    #switchbox{
        float: left;
        top: 0;
        right: 0;
        display: block;
        border-top: solid 2px $darkGrayBlueText;
        width: 300px;
        padding-top:20px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .switch {
        float: right;
    }
    .checkbox{
        float:right;
    }
    #wrapper {
        padding: 50px 25px;
    }
    h1 {
        font-size: 26px;
    }
}