@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap");
body, ul, li, section, article, div {
  padding: 0;
  margin: 0;
}

* {
  color: white;
}

body {
  background-color: #070625;
  font-family: 'Barlow Condensed', sans-serif;
  background-image: url("../starter-code/assets/background-stars.svg");
}

.activeplanetlink {
  color: white !important;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.grid-wrapper {
  margin: 5vh 15vw;
  height: 70vh;
  width: 70vw;
}

.navigation {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.247);
  padding: 20px 20px 0 20px;
}

.navigation h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.navigation ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  text-transform: uppercase;
  color: #afafaf;
  letter-spacing: 1px;
  cursor: pointer;
}

.navigation ul li a {
  text-decoration: none;
  color: #979797;
}

.navigation ul li a:hover, .navigation ul li a:active {
  color: white;
}

.navigation #hamburger {
  display: none;
}

.planet-wrapper {
  height: 60vh;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10vw;
}

.planet-wrapper #planet-image {
  height: 400px;
  width: 400px;
  margin: auto auto;
}

.planet-wrapper #planet-details {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  max-width: 500px;
}

.planet-wrapper #planet-details h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  margin: 0;
}

.planet-wrapper #planet-details #planet-content {
  font-family: sans-serif;
  color: #c0c0c0;
  font-size: 14px;
  line-height: 1.5;
}

.planet-wrapper #planet-details #planet-source-wrapper {
  margin: 30px 0;
  letter-spacing: 2px;
  color: #c0c0c0;
}

.planet-wrapper .planet-description {
  border: 1px solid #ffffff59;
  padding: 10px 20px;
  margin: 10px 0;
  letter-spacing: 2px;
}

.planet-wrapper .planet-description p {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin: 0;
  font-size: .8rem;
}

.planet-wrapper .planet-description span {
  font-size: .8rem;
  margin-right: 5px;
}

.planet-wrapper .planet-description:hover {
  background-color: #6e2ed52a;
  cursor: pointer;
}

.planet-wrapper .active {
  background-color: #6e2ed5d0;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

#planet-facts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-top: 10vh;
}

#planet-facts-wrapper .planet-facts {
  border: 1px solid rgba(255, 255, 255, 0.575);
  padding: 1vw 2vw;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#planet-facts-wrapper .planet-facts p {
  font-size: 1.8rem;
  margin: 10px 0;
}

#planet-facts-wrapper .planet-facts h5 {
  letter-spacing: 2px;
  color: #d4d4d4;
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px 0;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
  .grid-wrapper {
    margin: 10vh 8vw 5vh 8vw !important;
    height: auto !important;
    width: 84vw;
  }
  .planet-wrapper {
    height: auto;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: center;
  }
  #planet-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100% !important;
    position: relative !important;
  }
  #planet-details #planet-source-wrapper {
    position: absolute;
    bottom: 15px;
  }
  .planet-details {
    width: 50%;
    height: 300px;
  }
  #planet-description-wrapper {
    margin: auto 0;
    width: 40%;
  }
  #planet-facts-wrapper {
    margin: 5vh 0;
  }
  #planet-facts-wrapper .planet-facts p {
    font-size: 1.3rem !important;
  }
  .navigation {
    display: block;
    text-align: center;
    padding: 20px 20px 20px 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navigation h1 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 620px) {
  .grid-wrapper {
    margin: 60px 8vw 5vh 8vw !important;
  }
  #planet-image {
    width: 200px !important;
    height: 200px !important;
    margin-top: 50px !important;
  }
  #planet-details {
    display: block !important;
  }
  .planet-details {
    width: 100% !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .planet-details #planet-source-wrapper {
    position: relative !important;
    bottom: auto !important;
  }
  #planet-description-wrapper {
    width: 100vw;
    position: absolute;
    top: -350px;
    right: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
    text-align: center;
  }
  #planet-description-wrapper .planet-description {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    margin: 0;
  }
  #planet-description-wrapper .planet-description p, #planet-description-wrapper .planet-description span {
    font-size: 10px;
  }
  .planet-wrapper .active {
    background-color: rgba(255, 255, 255, 0);
  }
  .active#structure-btn {
    border-bottom: 2px solid #ff7b00 !important;
  }
  .active#overview-btn {
    border-bottom: 2px solid #6D2ED5 !important;
  }
  .active#surface-btn {
    border-bottom: 2px solid #0026ff !important;
  }
  .planet-description:hover {
    background-color: transparent !important;
  }
  #planet-facts-wrapper {
    display: block;
  }
  .planet-facts {
    width: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px 0;
  }
  .planet-facts h5 {
    margin: auto 0 !important;
    height: 16px;
  }
  .navigation {
    width: 88vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2vh 6vw;
  }
  .navigation h1 {
    margin-bottom: 0;
    text-align: left;
  }
  #planet-navigation {
    display: none;
    position: fixed;
    width: 50vw;
    height: 90vh;
    padding: 5vh 0;
    background-color: #494f67ee;
    right: 0;
    top: 0;
    z-index: 50;
  }
  #planet-navigation ul {
    padding: 50px 0;
  }
  #planet-navigation li {
    display: block;
    margin: 3vh;
    color: #a8b2eb;
  }
  #planet-navigation li:hover {
    color: white;
  }
  #hamburger {
    display: inline-block !important;
    z-index: 51;
    margin: auto 0;
  }
  #hamburger:hover {
    cursor: pointer;
  }
  #hamburger:hover > svg path {
    fill: #6D2ED5;
  }
  .show {
    display: block !important;
  }
}
/*# sourceMappingURL=style.css.map */